//- миксин для хлебных крошек. Включена логика дополнительных аттрибутов для добавления класса breadcrumbs__link--slash

mixin breadcrumbs(text, href, isActive)
  if isActive
    li.breadcrumbs__item
      span.breadcrumbs__text= text
  else
    li.breadcrumbs__item
        a.breadcrumbs__link(href= href)&attributes(attributes)= text

section.breadcrumbs
  .container
    ul.breadcrumbs__list
      +breadcrumbs('Главная страница', 'index.html')
      if pageClass === "catalog-page"
        +breadcrumbs('Каталог книг', '', true)
      else if pageClass === "book-page"
        +breadcrumbs('Каталог книг', 'catalog.html')(class= 'breadcrumbs__link--slash')
        +breadcrumbs('Железный король', '', true)


