extends layout/layout

append variables
  - var title = "Каталог книг"
  - var pageClass = "catalog-page"
  - var userLogin = false

block content
  .content
    main(class= pageClass)
      include modules/breadcrumbs
      include modules/catalog/catalog



