nav.footer__nav
          footer__nav-list.footer-nav
            li.footer-nav__item
              h4.footer-nav__title Меню
              ul.footer-nav__sub-list
                li.footer-nav__sub-item
                  a.footer-nav__link Главная
                li.footer-nav__sub-item
                  a.footer-nav__link Каталог книг
                li.footer-nav__sub-item
                  a.footer-nav__link Оплата и доставка
                li.footer-nav__sub-item
                  a.footer-nav__link Контакты
            li.footer-nav__item
              h4.footer-nav__title Интересно
              ul.footer-nav__sub-list
                li.footer-nav__sub-item
                  a.footer-nav__link Новости
                li.footer-nav__sub-item
                  a.footer-nav__link Акции
                li.footer-nav__sub-item
                  a.footer-nav__link Блог
                li.footer-nav__sub-item
                  a.footer-nav__link Скидки
            li.footer-nav__item
              h4.footer-nav__title Важно
              ul.footer-nav__sub-list
                li.footer-nav__sub-item
                  a.footer-nav__link Возврат
                li.footer-nav__sub-item
                  a.footer-nav__link Сертификаты
                li.footer-nav__sub-item
                  a.footer-nav__link Предзаказы
                li.footer-nav__sub-item
                  a.footer-nav__link Конкурсы
            li.footer-nav__item
              h4.footer-nav__title Адрес
              ul.footer-nav__sub-list
                li.footer-nav__sub-item
                  p.footer-nav__text г. Санкт-Петербург, #[br] наб. Pеки Карповки, 5 корпус П
                li.footer-nav__sub-item
                  a.footer-nav__link(href="tel:+78005558628") +7 800 555 86 28
    p.footer__copyright © ООО «Интерактивные обучающие технологии», 2013−2021
