extends layout/layout

append variables
  - var title = "Главная страница"
  - var pageClass = "index-page"
  - var userLogin = false

block content
  .content
    main(class= pageClass)
      h1.visually-hidden Магазин по продаже книг "По полочкам"
      include modules/hero
      include modules/books/new-books/new-books
      include modules/books/best-books/best-books
      include modules/reviews/reviews
      include modules/about

