extends layout/layout

append variables
  - var title = "Железный король"
  - var pageClass = "book-page"
  - var userLogin = true

block content
  .content
    main(class = pageClass)
      include modules/breadcrumbs
      include modules/book/book
      include modules/reviews/critique
      include modules/books/recently-viewed/recently-viewed
