extends layout/layout

append variables
  - var title = "Железный король"
  - var pageClass = "book-page"

block content
  .content
    main(class = pageClass)
      include modules/breadcrumbs
      include modules/book/book
      include modules/critique/critique
      include modules/recently-viewed/recently-viewed




