mixin filterItem(type, id, name, text, isChecked, value)
  if type ==="checkbox"
    .catalog-filter__box
        input.catalog-filter__checkbox(type="checkbox" id= id name= name checked = isChecked)
        label.catalog-filter__label(for= id)= text
  else if type ==="radio"
    .catalog-filter__box.catalog-filter__box--radio
        input.catalog-filter__radio(type="radio" id= id name= name value= value checked= isChecked)
        label.catalog-filter__label(for= id)=text


.catalog__filter
  form.catalog-filter__form
    fieldset.catalog-filter__fieldset
      p.catalog-filter__legend Категория
      +filterItem("checkbox", "fiction", "fiction", 'Художественная литература', true)
      +filterItem("checkbox", "for-children", "for-children", 'Книги для детей', true)
      +filterItem("checkbox", "education", "education", 'Образование')
      +filterItem("checkbox", "science-and-technology", "science-and-technology", 'Наука и техника')
      +filterItem("checkbox", "society", "society", 'Общество')
      +filterItem("checkbox", "business-literature", "business-literature", 'Деловая литература')
      +filterItem("checkbox", "health", "health", 'Здоровье')
      +filterItem("checkbox", "hobby", "hobby", 'Увлечения')
      +filterItem("checkbox", "psychology", "psychology", 'Психология')
      +filterItem("checkbox", "esoterics", "esoterics", 'Эзотерика')
      +filterItem("checkbox", "philosophy", "philosophy", 'Философия и религия')
      +filterItem("checkbox", "art", "art", 'Искусство')

    fieldset.catalog-filter__fieldset
      p.catalog-filter__legend Статус
      +filterItem("radio", "bestsellers", "status", 'Хиты продаж', false, "bestsellers")
      +filterItem("radio", "news-books", "status", 'Новинки', true, "news-books")
      +filterItem("radio", "preorder", "status", 'Предзаказ', false, "preorder")

    fieldset.catalog-filter__fieldset
      p.catalog-filter__legend Наличие
      +filterItem("radio", "in-the-shop", "availability", 'В магазине', false, "in-the-shop")
      +filterItem("radio", "in-the-internet-shop", "availability", 'В интернет-магазине', true, "in-the-internet-shop")
      +filterItem("radio", "under-the-order", "availability", 'Под заказ', false, "under-the-order")

